<div class="card mx-4 my-4">

    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item mr-2" *ngIf="!conectado">
                <input type="text" [(ngModel)]="mensaje.username" class="form-control" name="username" placeholder="Usuario">
            </li>
            <li class="nav-item mr-2">
                <button class="btn btn-success" type="button" (click)="conectar()" *ngIf="!conectado" [disabled]="!mensaje.username">CONECTAR</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-warning" type="button" (click)="desconectar()" *ngIf="conectado">CERRAR CHAT</button>
            </li>
        </ul>
    </div>

    <div class="card-body" *ngIf="conectado">
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-light" *ngFor="let mensaje of mensajes">
                <span *ngIf="mensaje.tipo=='NUEVO_USUARIO'">{{mensaje.fecha | date:'shortTime'}} 😁 {{mensaje.texto}}</span>
                <span *ngIf="mensaje.tipo=='MENSAJE'">{{mensaje.fecha | date:'shortTime'}} {{mensaje.username}} dice<br> {{mensaje.texto}}</span>
            </li>
        </ul>
    </div>
    
    <div class="card-footer" *ngIf="conectado">
        <form class="form-inline">
            <div class="form-group mx-3">
                <input type="text" [(ngModel)]="mensaje.texto" class="form-control" name="texto" placeholder="Escribe un mensaje...">
            </div>
            <button class="btn btn-primary" type="submit" (click)="enviarMensaje()">ENVIAR</button>
        </form>
    </div>

</div>