<div class="card mx-4 my-4">

    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item mr-2">
                <button class="btn btn-success" type="button">CONECTAR</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-warning" type="button">CERRAR CHAT</button>
            </li>
        </ul>
    </div>

    <div class="card-body"></div>
    
    <div class="card-footer">
        <form class="form-inline">
            <div class="form-group mx-3">
                <input type="text" class="form-control" name="texto" placeholder="Escribe un mensaje...">
            </div>
            <button class="btn btn-primary" type="submit">ENVIAR</button>
        </form>
    </div>

</div>